/**
 * @file
 * Command Class Binary Switch Configuration
 * @remarks This file is auto generated
 * @copyright 2022 Silicon Laboratories Inc.
 */
#include <cc_binary_switch_config.h>
#include <cc_binary_switch_config_api.h>
#include <CC_BinarySwitch.h>
#include <ZW_typedefs.h>
#include <SizeOf.h>
#include <Assert.h>

static cc_binary_switch_t binary_switches[] = {
{% for switch in binary_switches %}
  {
    .endpoint = {{switch['endpoint']}},
    {% if 'default_duration' in switch %}
    .default_duration = {{switch['default_duration']}},
    {% else %}
    .default_duration = CC_BINARY_SWITCH_CONFIG_DEFAULT_DURATION,
    {% endif %}
    .callback = cc_binary_switch_handler
  },
{% endfor %}
};

STATIC_ASSERT((sizeof_array(binary_switches) > 0), STATIC_ASSERT_FAILED_size_mismatch);

ZW_WEAK void cc_binary_switch_handler(cc_binary_switch_t * p_switch)
{
  UNUSED(p_switch);
}

cc_binary_switch_t * cc_binary_switch_get_config(void)
{
  return binary_switches;
}

uint8_t cc_binary_switch_get_config_length(void)
{
  return sizeof_array(binary_switches);
}

{% for _ in binary_switches %}
ZAF_CC_REGISTER_CONFIG(COMMAND_CLASS_SWITCH_BINARY, &binary_switches[{{loop.index - 1}}], {{loop.index - 1}});
{% endfor %}

