/**
 * @file
 * Command Class Door Lock Configuration
 * @remarks This file is auto generated
 * @copyright 2022 Silicon Laboratories Inc.
 */

#ifndef CC_DOOR_LOCK_CONFIG_H
#define CC_DOOR_LOCK_CONFIG_H

#include <CC_DoorLock.h>

#define CC_DOOR_LOCK_OPERATION_TYPE {{configuration.operation_type}}
#define CC_DOOR_LOCK_SUPPORTED_INSIDE_HANDLES {{configuration.supported_inside_handles}}
#define CC_DOOR_LOCK_SUPPORTED_OUTSIDE_HANDLES {{configuration.supported_outside_handles}}
#define CC_DOOR_LOCK_OPTIONS_FLAGS {{configuration.options_flags}}
#define CC_DOOR_LOCK_MAX_AUTO_RELOCK_TIME {{configuration.max_auto_relock_time}}
#define CC_DOOR_LOCK_MAX_HOLD_AND_RELEASE_TIME {{configuration.max_hold_and_release_time}}

#endif /* CC_DOOR_LOCK_CONFIG_H */

